h2{
    color: aqua;
    font-size: larger;
    font-style: italic;
    padding-top: 20px;
   
    
}
#main{
    background-image: url(../images/hero.gif);
    background-position: center;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    margin-left: 10px;
    
    
}
.videoy{
    margin-top: 20px;
    padding-top: 30px;
    margin-left: 10px;
}
.btn-parent {
    text-align: center;
    
}
.btn-self {
    margin-top: 150px;
    background-color: blueviolet;
    border-style: solid;
    border-color: chocolate;
    padding: 8px;
}
video{
    margin-top: 50px;
}
.gr {
    display: flex;
    
}
nav > ul > li{
    display: inline;
    margin-right: 20px;

}
nav > ul >li >a{
    text-decoration: none;
}
footer {
    text-align: center;
    margin-top: 30px;
    background-color:rgba(136, 158, 159, 0.8);
    height: 200px;
}
footer p{
    padding-top: 100px;
}
header{
    background-color: aqua;
    height: 50px;
}